.messageContainer {
border:1px solid white;
border-radius:10px;
padding:10px;
margin-bottom:10px;

}

.message {
    color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
textarea{
    flex-grow:1;
    margin-right:5px;
    padding:2px;
}
button{
    background-color:black;
    color:white;
    
}
.actionContainer{
    max-height:60px;
    display:flex;
    justify-content:space-between;
}
.mainContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.textBoxInput{
    text-align:left;
}

.dropdown-toggle::after {
    content: none;
    display:none;
}

.caret-off::before {
    display: none;
    content: none;
}

.caret-off::after {
    display: none;
}